.cloudsNightAnimationHolder {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.thumb {
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
}

.stars {
  width: 100%;
  height: 100%;
  background: transparent url(./stars.png) repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}
.noStars {
  display: none;
}
.clouds {
  width: 100%;
  height: 100%;
  background-image: url('./cloud.png');
  background-size: cover;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  animation: animate 50000s linear infinite;
}
.veryCloudyNight {
  opacity: 0.6;
}
.cloudyNight {
  opacity: 0.15;
}

@keyframes animate {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 10440px;
  }
}
