@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

/*-----------------------Page Container-------------------------*/
.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-weight: 270;
  background: linear-gradient(
    -60deg,
    rgba(191, 233, 255, 0.685),
    #09a8d85b,
    #267c9271,
    #f8aa0083
  );
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  background-color: #696969a3;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* -------------- logo ------------------------*/
.logoContainer {
  display: flex;
  justify-content: center;
  height: 15vh;
  padding-top: 3vh;
}
.logo-home-page {
  height: 100%;
}

/*------------------------------------------------------------------Written content------------------------------------------------*/

.writtenContent {
  color: white;
  font-weight: 270;
  text-align: center;
}
.bigText {
  font-size: 36px;
}
.smallerText {
  font-size: 24px;
}
/*----------------------------------------------------------------FORM STYLE-----------------------------------------------*/

.formStyle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nameInput {
  padding-left: 10px;
  border-radius: 25px;
  background-color: white;
  border: 0px;
  opacity: 0.6;
  height: 30px;
  width: 80vw;
  outline: none;
  margin-bottom: 30px;
}
/*-----------------gender icons -------------------------------------*/
.genderButtonsHolder {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}

.genderButton {
  outline: none !important;
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  -o-appearance: none !important;
  appearance: none !important;
  display: hidden;
  border: none;
}
.genderButton:after {
  font-family: 'FontAwesome';
  text-align: center;
  font-size: 75px;
  content: attr(data-icon);
  padding: 10px 10px;
  border-radius: 15px;
  color: rgba(0, 0, 0, 0.226);
  transition: box-shadow 1s, color 1s;
  z-index: 10;
  position: relative;
  right: 0px;
}
.genderButton:checked:after {
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.6);
  z-index: 10;
}

.centerButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submitButton {
  margin-bottom: 15px;
  margin-top: 15px;
  user-select: none;
  width: 100px;
  height: 30px;
  cursor: pointer;
  color: grey;
  background: white;
  opacity: 0.6;
  transition: 500ms ease-in-out;
  border-radius: 25px;
  border: none;
}

.submitButton:hover {
  box-shadow: 20px 5px 0 rgb(83, 106, 131), -20px -5px 0 rgb(104, 129, 156);
}

/*-----------------social media------------------------------------*/
.socialMediaDesktop {
  display: none;
}
.socialMediaMobile {
  margin-top: 15px;
  margin-bottom: 15px;
}

.wrapper .button {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 5px;
  opacity: 0.7;
  overflow: hidden;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover {
  width: 110px;
}
.wrapper .button .icon {
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 40px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon {
  background: #4267b2;
}

.wrapper .button:nth-child(2):hover .icon {
  background: #e1306c;
}
.wrapper .button:nth-child(3):hover .icon {
  background: #333;
}

.wrapper .button .icon i {
  font-size: 14px;
  line-height: 40px;
  transition: all 0.3s ease-out;
  color: #474f40;
}
.wrapper .button:hover .icon i {
  color: #fff;
}
.wrapper .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span {
  color: #4267b2;
  font-size: 10px;
}
.wrapper .button:nth-child(2) span {
  color: #494646;
  font-size: 10px;
}
.wrapper .button:nth-child(3) span {
  color: #333;
  font-size: 10px;
}

.toastContainer {
  overflow: hidden;
  overflow-x: auto;
  display: grid;
  justify-content: center;
  bottom: 5vh;
  grid-gap: 20px;
  position: fixed;
  user-select: none;
  opacity: 0.9;
  z-index: 10;
}

.containerPosition {
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}

.toast {
  padding: 8px;
  min-width: 200px;
  max-width: 400px;
  color: var(--toast-white);
  display: flex;
  align-items: flex-start;
  line-height: 1.6;
  border-radius: 15px;
}

.removeHiperLinks {
  text-decoration: none;
}

/*-----------------media query -------------------------------------*/
@media screen and (min-width: 768px) {
  .loginPage {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .logoContainer {
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo-home-page {
    height: 25%;
    max-height: 205px;
  }

  input[name='gender']:after {
    font-size: 100px;
  }

  .nameInput {
    width: 50vw;
  }

  .centerButton {
    width: 100%;
  }

  .socialMediaMobile {
    display: none;
  }

  .socialMediaDesktop {
    display: flex;
    margin-top: 5%;
  }
  /*-----------------social media icons -------------------------------------*/

  .wrapper .button {
    height: 60px;
    width: 60px;
    line-height: 70px;
  }

  .wrapper .button:hover {
    width: 150px;
  }

  .wrapper .button .icon {
    height: 60px;
    width: 60px;
    line-height: 70px;
  }

  .wrapper .button .icon i {
    font-size: 25px;
  }

  .wrapper .button span {
    font-size: 25px;
    margin-left: 10px;
    line-height: 70px;
  }

  .wrapper .button:nth-child(1) span {
    font-size: 15px;
  }
  .wrapper .button:nth-child(2) span {
    font-size: 15px;
  }
  .wrapper .button:nth-child(3) span {
    font-size: 15px;
  }

  .nameInput {
    width: 350px;
  }

  .containerPosition {
    left: 75%;
  }
}
